body{
    font-family: 'Courgette', cursive;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
#img{
    width: 100%;
    position: absolute;
}
#first{
    width: 200px;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.555);
    position: relative;
    top: 100px;
}
table{
    border: solid 1px black;
}

footer{
    clear: both;
}